[audio]
bgm=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/bgm.bcstm
sfx.close=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/close.bcwav
sfx.launch=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/launch.bcwav
sfx.openlid=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/openlid.bcwav

[colors]
arrowbuttoncolor.dark=0x808890
arrowbuttoncolor.light=0x88b0d0
arrowbuttoncolor.main=0x88b0d0
arrowbuttoncolor.shadow=0x002b4e64
arrowcolor.border=0x88b0d0
arrowcolor.pressed=0x68f8f0
arrowcolor.unpressed=0x000000
bottomcornerbuttoncolor.dark=0xc8d0d8
bottomcornerbuttoncolor.iconlight=0x282830
bottomcornerbuttoncolor.iconmain=0x282830
bottomcornerbuttoncolor.icontextmain=0x272331
bottomcornerbuttoncolor.light=0xc8d0d8
bottomcornerbuttoncolor.main=0x88b0d0
bottomcornerbuttoncolor.shadow=0x272331
close.dark=0x282830
close.glow=0x9ce7eb
close.light=0x88b0d0
close.main=0x88b0d0
close.shadow=0x002b4eae
close.textmain=0x000000
close.textselected=0x68f8f0
close.textshadow=0x68f8f0
close.textshadowpos=-3
cursorcolor.dark=0x282830
cursorcolor.glow=0x88b0d0
cursorcolor.light=0xffffff
cursorcolor.main=0x68f8f0
demotextcolor.main=0x282830
demotextcolor.textmain=0x000000
filecolor.dark=0x282830
filecolor.light=0x808890
filecolor.main=0x88b0d0
filecolor.shadow=0x282830ff
folderarrowcolor.dark=0x282830
folderarrowcolor.glow=0xffffff
folderarrowcolor.light=0x486078
folderarrowcolor.main=0x808890
folderarrowcolor.shadow=0x68f8f0ff
folderarrowcolor.textmain=0x282830
folderarrowcolor.textselected=0x68f8f0
folderarrowcolor.textshadow=0x282830
folderarrowcolor.textshadowpos=-1.25
folderbgcolor.dark=0x88b0d0
folderbgcolor.light=0x68f8f0
folderbgcolor.main=0x808890
folderbgcolor.shadow=0x68f8f0ff
foldercolor.dark=0xc8d0d8
foldercolor.light=0x68f8f0
foldercolor.main=0x282830
foldercolor.shadow=0x68f8f0
gametext.light.hidden=0x000000
gametext.main.hidden=0x000000
gametext.shadow.hidden=0x000000ff
gametext.textmain.hidden=0x000000
open.dark=0x282830
open.glow=0xa6e6ea
open.light=0x88b0d0
open.main=0x88b0d0
open.shadow=0x002b4e64
open.textmain=0x000000
open.textselected=0x68f8f0
open.textshadow=0x68f8f0
open.textshadowpos=-1.25
topcornerbuttoncolor.light.hidden=0x000000
topcornerbuttoncolor.main.hidden=0x000000
topcornerbuttoncolor.shadow.hidden=0x000000
topcornerbuttoncolor.textmain.hidden=0x000000

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
dutchlongtitle=A theme containing the decompressed portal radio.
dutchpublisher=eTurd
dutchshorttitle=Portal Radio (DECOMPRESSED)
englishlongtitle=A theme containing the decompressed portal radio.
englishpublisher=eTurd
englishshorttitle=Portal Radio (DECOMPRESSED)
esrb=32
eulaversion=0
frenchlongtitle=A theme containing the decompressed portal radio.
frenchpublisher=eTurd
frenchshorttitle=Portal Radio (DECOMPRESSED)
germanlongtitle=A theme containing the decompressed portal radio.
germanpublisher=eTurd
germanshorttitle=Portal Radio (DECOMPRESSED)
icon=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/smdh.rgb565.png
italianlongtitle=A theme containing the decompressed portal radio.
italianpublisher=eTurd
italianshorttitle=Portal Radio (DECOMPRESSED)
japaneselongtitle=A theme containing the decompressed portal radio.
japanesepublisher=eTurd
japaneseshorttitle=Portal Radio (DECOMPRESSED)
koreanlongtitle=A theme containing the decompressed portal radio.
koreanpublisher=eTurd
koreanshorttitle=Portal Radio (DECOMPRESSED)
longtitle=A theme containing the decompressed portal radio. Edited from eTurd's to fix mono audio glitches.
portugueselongtitle=A theme containing the decompressed portal radio.
portuguesepublisher=eTurd
portugueseshorttitle=Portal Radio (DECOMPRESSED)
publisher=Jaylink5353
regions=regionfree
russianlongtitle=A theme containing the decompressed portal radio.
russianpublisher=eTurd
russianshorttitle=Portal Radio (DECOMPRESSED)
shorttitle=Portal Radio w/ Fixed Audio
simplifiedchineselongtitle=A theme containing the decompressed portal radio.
simplifiedchinesepublisher=eTurd
simplifiedchineseshorttitle=Portal Radio (DECOMPRESSED)
smallicon=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/smdh-small.rgb565.png
spanishlongtitle=A theme containing the decompressed portal radio.
spanishpublisher=eTurd
spanishshorttitle=Portal Radio (DECOMPRESSED)
traditionalchineselongtitle=A theme containing the decompressed portal radio.
traditionalchinesepublisher=eTurd
traditionalchineseshorttitle=Portal Radio (DECOMPRESSED)

[kame-editor]
deploy=PortalRadioDecompressed(FINAL).zip

[textures]
bottom.image=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/bottomtexture.rgb565.png
top.image=../../../../tmp/kame-editor-QnSBeR/imports/portaltadiotheme/toptexture.rgb565.png
